<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's home page.
Citation:
Date: 11/03/2025
Some Code in this document is adapted from Canvas Course Module.
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
-->

<h1>Home page</h1>
<div>
  <p>Project Name: Old Mike's Car Full-Service Transaction Management System</p>
  <p>Project Group: 45</p>
  <p>Group Members: Lei Feng, Marina Moger</p>
  <p>Overview:</p>
  <p>Old Mike's Car Full-Service is a vehicle service chain located in Portland, OR. The company currently operates 25 locations and employs 302 people across all sites. It performs around 50,000 maintenance jobs annually, generating approximately $80 million in revenue. At present, the company does not have a centralized system to manage transactions. Each location records transactions manually using spreadsheets, which leads to various issues, such as input errors and redundant or inconsistent information. The company is seeking to implement a centralized web-based system with a database backend to manage all service transactions across its locations.</p>
  <p>This system will help resolve existing issues and offer a more efficient way to manage business operations. It will enable the company to store information about its locations, employees, customers, services, invoices, and relationships between them. For example, the Customers and Services entities store information across all locations, eliminating the risk of inconsistent data for the same customer or service across different shops. The Invoices entity allows all transactions to be stored in one place, greatly reducing the burden of collecting this information separately from each shop. The Employees and Locations entities help the company keep track of all 302 current employees across 25 locations and reduce redundant data when employees move from one location to another. In conclusion, this system records Invoices that are created when Customers receive Services from Employees who work at Locations. The Invoices_Services table includes details about the Invoices. The system is also capable of recording 50,000 invoices annually and reducing input errors through data validation and constraints.</p>
</div>