<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project style sheet.
Citation:
Date: 11/03/2025
Some Code in this document is adapted from Canvas Course Module.
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CS340 - Project Group 45</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    Navigation:
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/employees">Employees</a>
    <a href="/customers">Customers</a>
    <a href="/services">Services</a>
    <a href="/invoices">Invoices</a>
  </nav>

  {{{body}}}

</body>

</html>