/*
* Project Name: Old Mike’s Car Full-Service Transaction Management System
* Project Group: 45
* Group Members: Lei Feng, Marina Moger
* Description: The project style sheet.
* Citation: All code in this file without citation is original.
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F1F1;
  color: #070707;
  margin: 50px 50px 20px 50px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

footer {
  text-align: right;
  margin-top: 30px;
  border: none;
  color: #7E7E7E;
}

div {
  margin: 0px;
  padding: 0px;
  border: none;
}

nav {
  text-align: left;
  font-size: 1.2em;
  color: #242424;
  margin-left: 0em;
  margin-bottom: 0px;
}

a {
  color: #7E7E7E;
  text-decoration: none;
  margin: 0em 1.5em 0em 0em;
}

a:hover {
  color: #070707;
  text-decoration: underline;
}

a:active, a:focus {
  color: #070707;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  color: #242424;
  margin: 40px 0px 10px 0px;
}

h2 {
  font-size: 1.2em;
  color: #242424;
}

p {
  font-size: 1.2em;
}

table {
  border: 1px solid #242424;
  font-size: 1em;
  text-align: left;
  margin: 20px 0px 10px 0px;
}

#table_locations th:nth-child(1),
#table_locations td:nth-child(1),
#table_employees th:nth-child(1),
#table_employees th:nth-child(7),
#table_employees td:nth-child(1),
#table_employees td:nth-child(7),
#table_customers th:nth-child(1),
#table_customers td:nth-child(1),
#table_services th:nth-child(1),
#table_services th:nth-child(4),
#table_services td:nth-child(1),
#table_services td:nth-child(4),
#table_invoices th:nth-child(1),
#table_invoices th:nth-child(2),
#table_invoices th:nth-child(4),
#table_invoices th:nth-child(6),
#table_invoices th:nth-child(9),
#table_invoices td:nth-child(1),
#table_invoices td:nth-child(2),
#table_invoices td:nth-child(4),
#table_invoices td:nth-child(6),
#table_invoices td:nth-child(9),
#table_invoices_services th:nth-child(1),
#table_invoices_services th:nth-child(2),
#table_invoices_services th:nth-child(3),
#table_invoices_services th:nth-child(5),
#table_invoices_services th:nth-child(6),
#table_invoices_services td:nth-child(1),
#table_invoices_services td:nth-child(2),
#table_invoices_services td:nth-child(3),
#table_invoices_services td:nth-child(5),
#table_invoices_services td:nth-child(6),
#table_delete_location th:nth-child(1),
#table_delete_employee th:nth-child(1),
#table_delete_employee th:nth-child(7),
#table_delete_customer th:nth-child(1),
#table_delete_service th:nth-child(1),
#table_delete_service th:nth-child(4),
#table_delete_invoice th:nth-child(1),
#table_delete_invoice th:nth-child(2),
#table_delete_invoice th:nth-child(4),
#table_delete_invoice th:nth-child(6),
#table_delete_invoice th:nth-child(9),
#table_delete_invoice_service th:nth-child(1),
#table_delete_invoice_service th:nth-child(2),
#table_delete_invoice_service th:nth-child(6),
#table_delete_invoice_service th:nth-child(8),
#table_delete_invoice_service th:nth-child(9),
#table_delete_location td:nth-child(1),
#table_delete_employee td:nth-child(1),
#table_delete_employee td:nth-child(7),
#table_delete_customer td:nth-child(1),
#table_delete_service td:nth-child(1),
#table_delete_service td:nth-child(4),
#table_delete_invoice td:nth-child(1),
#table_delete_invoice td:nth-child(2),
#table_delete_invoice td:nth-child(4),
#table_delete_invoice td:nth-child(6),
#table_delete_invoice td:nth-child(9),
#table_delete_invoice_service td:nth-child(1),
#table_delete_invoice_service td:nth-child(2),
#table_delete_invoice_service td:nth-child(6),
#table_delete_invoice_service td:nth-child(8),
#table_delete_invoice_service td:nth-child(9) {
  text-align: right;
}

th, td {
  border: 1px solid #242424;
  padding: 4px 6px 3px 6px;
}

th {
  color: #242424;
}

tr:hover {
  background-color: #E4E4E4;
}

table button {
  padding: 4px 5px 2px 5px;
  margin: 0px;
  font-size: 1em;
  height: 100%;
  width: 100%;
  color: #7E7E7E;
  border: none;
  background-color: transparent;
}

table button:hover {
  color: #070707;
}

.no_border {
  border: transparent;
}

form {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

form input, form select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  color: #070707;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}

form input {
  padding-left: 5px;
  padding-right: 2px;
}

form input:hover, form select:hover {
  color: #070707;
  border: 0px solid transparent;
}

form input:focus, form select:focus {
  color: #070707;
  border: 0px solid transparent;
}

form input:active, form select:active {
  color: #070707;
  border: 0px solid transparent;
}

.interactive_cell {
  background-color: transparent;
  padding: 0px;
}

.interactive_cell:hover,
.interactive_cell:focus {
  background-color: #F1F1F1;
  color: #070707;
}

.interactive_cell:active {
  background-color: transparent;
  color: #070707;
}

#update_name,
#create_name,
#update_email_address,
#create_email_address {
  width: 15em;
}

#update_address,
#create_address,
#update_description,
#create_description {
  width: 30em;
}
