<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's reset page.
Citation: All code in this file without citation is original.
-->

<h1>Delete Customer</h1>
<div class="inline">
  <p>This customer is referenced by other records. Please delete or update related records first.</p>
  <button type="button" onclick="window.location.href='/customers'" class="page_button">Go Back</button>
</div>