<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's add customer page.
Citation: All code in this file without citation is original.
-->

<h1>Add Customer</h1>
<div>
  {{! CREATE form }}
  <form method='POST' action="/customer/create">
    <table>
      <thead>
        <tr>
          <th>First Name *</th>
          <th>Last Name *</th>
          <th>Date of Birth *</th>
          <th>Phone Number *</th>
          <th>Email Address</th>
          <th>Address</th>
          <th colspan="2" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="interactive_cell">
            <input type="text" name="create_first_name" id="create_first_name" placeholder="Enter First Name" required/>
          </td>
          <td class="interactive_cell">
            <input type="text" name="create_last_name" id="create_last_name" placeholder="Enter Last Name" required/>
          </td>
          <td class="interactive_cell">
            <input type="date" name="create_date_of_birth" id="create_date_of_birth" class="date_input" required/>
          </td>
          <td class="interactive_cell">
            <input type="tel" name="create_phone_number" id="create_phone_number" pattern="\(\d{3}\) \d{3}-\d{4}|\d{10}" placeholder="(000) 000-0000" required/>
          </td>
          <td class="interactive_cell">
            <input type="email" name="create_email_address" id="create_email_address" placeholder="Enter Email Address"/>
          </td>
          <td class="interactive_cell">
            <input type="text" name="create_address" id="create_address" placeholder="Enter Address"/>
          </td>
          <td class="interactive_cell">
            <button type="submit">Confirm</button>
          </td>
          <td class="interactive_cell">
            <button type="button" onclick="window.location.href='/customers'">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <p>Note: * indicates required fields.</p>
</div>
